body {
    /* background-color: #fffbf7; */
    background-image: url('https://image.freepik.com/foto-gratis/acuarela-colorida-fondo-textura-grunge-fondo-suave_3248-2528.jpg');
    background-size:100% 100%;
}
h1 {
color:#21a1a1;
text-align: center;
font-style: italic; font-family:Arial, Helvetica, sans-serif;
}
h2{
    color: rgb(76, 70, 119);
    font-style: normal;font-family:'Times New Roman', Times, serif;
}
h3 {
    color: rgb(161, 5, 88);
    font-style: oblique;font-family:'Courier New', Courier, monospace;
}
b {
    color:rgb(78, 32, 78);
}
p {
    text-align: justify;
}
button {
    color: rgb(247, 247, 247);
    background-color: #025157;
    
}
form {
    text-align: center;
}

.fixed-header {
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
   
  }

.header {
 /* margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px; */
  margin: 40px 20px 0px 20px;
  font-size: 0;/* quita los espacios */
  line-height: 45px;
  font-family:sans-serif;
  
}
li {
    display: inline; /* toma solo el espacio que necesite horizontal  */
}
/* aplica el estilo a todo lo que este a esa clase */
.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}
.logo {
width: 15%;
}
.navbar {
width: 70%;
text-align: left;
color:#025157;
}
.menu {
    display: inline;
    margin: 0px 25px 0px 25px;
}
.actions {
width: 15%;
text-align: left;
font-size: 14px;
}
.actions > * {
    margin: 0px 10px 0px 10px;
}
.actions a {
    color: #67b54b;
  }
.actions button {
    color: white;
    background-color: #67b54b;
    padding: 12px 14px 12px 14px;
    border: 0;
    border-radius: 5px;
}
.promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
  }

.publish {
    margin-left: 20px;
  }
  .publish h3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
  }
  
  .publish > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .publish > form {
    display: flex;
    align-items: center;
    
  }
  
  .publish > form p {
    color: #025157;
    margin-right: 25px;
  }
  .publish >  button {
    color: white;
    background-color: #025157;
    
}

.explicacion-video {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.explicacion-video img {
    width: 120px;
    margin-top: 10px; 
}
main {
    margin-top: 285px;
    text-align: center;
  }